.about{
  padding: 10px;

  .title{
    font-size: 35px;
    font-weight: bold;
    color: #e65353;
  }

  .description{
    font-size: 25px;

    .image-container{
      margin: 50px 0px;
      display: flex;
      justify-content: center;
      
      .image{
        background: url("https://ik.imagekit.io/ketanprakash001/Portfolio_assets/Ketan.jpg?updatedAt=1641052779161");
        background-size: cover;
        background-color: white;
        height: 250px;
        width: 250px;
        border: 1px solid black;
        border-radius: 50%;
      }
    }
  }
}
